# Un premier mod√®le avec scikit-learn

In [1]:
import numpy as np
import pandas as pd

In [2]:
titanic = pd.read_csv("./data/titanic_train.csv")

In [3]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
titanic.describe(include="all")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Panula, Master. Eino Viljami",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

## On s√©pare les donn√©es en apprentissage / test

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [7]:
y = titanic["Survived"]
x = titanic[["Pclass","Sex","SibSp","Parch","Fare"]]

In [30]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [31]:
# pr√©paration des donn√©es
from sklearn.preprocessing import LabelEncoder

In [32]:
# on cr√©e un objet √† partir de la classe
transfo_sex = LabelEncoder()

In [33]:
# on transforme la colonne sex en colonne num√©rique
x_train["Sex"]=transfo_sex.fit_transform(x_train["Sex"])
x_test["Sex"]=transfo_sex.transform(x_test["Sex"])

C:\Users\s4d-asus-14\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\s4d-asus-14\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [34]:
transfo_sex.classes_

array(['female', 'male'], dtype=object)

In [35]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 837 to 801
Data columns (total 5 columns):
Pclass    712 non-null int64
Sex       712 non-null int32
SibSp     712 non-null int64
Parch     712 non-null int64
Fare      712 non-null float64
dtypes: float64(1), int32(1), int64(3)
memory usage: 30.6 KB

## Les mod√®les de ML

In [40]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, roc_auc_score

In [37]:
# on construit un object √† partir de la classe du mod√®le
dico_modeles = {"logit": LogisticRegression(),
               "rf": RandomForestClassifier(),
               "gbm":GradientBoostingClassifier(),
               "knn": KNeighborsClassifier()}

In [38]:
def ajustement_modeles(dico_modeles,x_train, y_train, x_test, y_test):
    """ Cette fonction permet d'ajuster et de calculer le % de bien
    class√©s pour chaque mod√®le du dictionnaire"""
    
    for modele in dico_modeles.keys():
        dico_modeles[modele].fit(x_train, y_train)
        print("Pourcentage de bien class√©s pour le mod√®le {}".format(modele),
              accuracy_score(y_test, dico_modeles[modele].predict(x_test)))
        print("AUC pour le mod√®le {}".format(modele),
              roc_auc_score(y_test,dico_modeles[modele].predict_proba(x_test)[:,1]))

In [42]:
ajustement_modeles(dico_modeles,x_train,y_train,
                  x_test,y_test)

C:\Users\s4d-asus-14\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Pourcentage de bien class√©s pour le mod√®le logit 0.7932960893854749
AUC pour le mod√®le logit 0.8089068825910931
Pourcentage de bien class√©s pour le mod√®le rf 0.8491620111731844
AUC pour le mod√®le rf 0.8838056680161943
Pourcentage de bien class√©s pour le mod√®le gbm 0.8268156424581006
AUC pour le mod√®le gbm 0.8791497975708502
Pourcentage de bien class√©s pour le mod√®le knn 0.7430167597765364
AUC pour le mod√®le knn 0.7988529014844805

## Validation du mod√®le

In [34]:
from sklearn.metrics import confusion_matrix, accuracy_score, roc_auc_score

In [41]:
print("Pourcentage de bien class√©s :", 
      accuracy_score(y_test, modele_logit.predict(x_test)))

Pourcentage de bien class√©s : 0.7821229050279329

In [44]:
print("Matrice de confusion :", 
      confusion_matrix(y_test, modele_logit.predict(x_test)),sep="\n")

Matrice de confusion :
[[98 14]
 [25 42]]

# Ajustement des hyper-param√®tres

In [45]:
from sklearn.model_selection import GridSearchCV

In [46]:
dico_param = dict(n_estimators=[10,50,100,1000],
                  max_depth=[None,5,7,9])

In [47]:
dico_param = {"n_estimators":[10,50,100,1000],
                  "max_depth":[None,5,7,9]}

In [48]:
# on cr√©e un objet
grid_rf = GridSearchCV(estimator=RandomForestClassifier(),
                    param_grid=dico_param,
                    scoring="roc_auc", cv=3)

In [49]:
grid_rf.fit(x_train,y_train)

GridSearchCV(cv=3, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'max_depth': [None, 5, 7, 9],
                         'n_estimators': [10, 50, 100, 1000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=0)

In [50]:
grid_rf.best_params_

{'max_depth': 5, 'n_estimators': 50}

In [51]:
pd.DataFrame(grid_rf.cv_results_)[["mean_test_score","params"]]

    mean_test_score                                     params
0          0.800928    {'max_depth': None, 'n_estimators': 10}
1          0.812914    {'max_depth': None, 'n_estimators': 50}
2          0.812179   {'max_depth': None, 'n_estimators': 100}
3          0.810000  {'max_depth': None, 'n_estimators': 1000}
4          0.833873       {'max_depth': 5, 'n_estimators': 10}
5          0.840138       {'max_depth': 5, 'n_estimators': 50}
6          0.837796      {'max_depth': 5, 'n_estimators': 100}
7          0.840009     {'max_depth': 5, 'n_estimators': 1000}
8          0.824758       {'max_depth': 7, 'n_estimators': 10}
9          0.826968       {'max_depth': 7, 'n_estimators': 50}
10         0.828902      {'max_depth': 7, 'n_estimators': 100}
11         0.831025     {'max_depth': 7, 'n_estimators': 1000}
12         0.810757       {'max_depth': 9, 'n_estimators': 10}
13         0.820157       {'max_depth': 9, 'n_estimators': 50}
14         0.821243      {'max_depth': 9, 'n_estimators': 100}
15         0.819882     {'max_depth': 9, 'n_estimators': 1000}

In [52]:
roc_auc_score(y_test,grid_rf.best_estimator_.predict_proba(x_test)[:,1])

0.8742240215924426